<!--page booking-->

<div class="header booking-header"><a href="#booking_out" class="back"></a>在线订舱<a href="javascript:;" class="booking-header-salesman">业务员</a></div>
<div class="booking-content content" id="booking-content">
  <div class="booking-scroll scroll" class="booking-scroll">
    <ul class="booking-addr">
      <li><em>始</em><p>TAISHAN,GUANGDONG<br/>(台山，广东 )</p></li>
      <li><em>终</em><p>DAYAOWAN,DALIAN<br/>(大连大窑湾)</p></li>
      <li><p>船公司：<span>MSK </span></p><p>船程：<span>21天</span></p></li>
    </ul>
    <ul class="booking-box">
      <li>
        <div>
          <h2><cite>箱型</cite><a href="javascript:;" class="sub">-</a><a href="javascript:;" class="size">1</a><a href="javascript:;" class="add">+</a><i>20GP</i><a href="javascript::" class="choose-gp"></a></h2>
          <h3><cite>货重(KGS)</cite><p><input type="text" placeholder="请输入货重"></p><span>重柜<strong class="h_btn active"><em></em></strong></span></h3>
        </div>
        <span class="insert-btn">+<br/>添<br/>加</span>
      </li>
      <li>
        <div>
          <h2><cite>箱型</cite><a href="javascript:;" class="sub">-</a><a href="javascript:;" class="size">1</a><a href="javascript:;" class="add">+</a><i>20GP</i><a href="javascript::"  class="choose-gp"></a></h2>
          <h3><cite>货重(KGS)</cite><p><input type="text" placeholder="请输入货重"></p><span>重柜<strong class="h_btn active"><em></em></strong></span></h3>
        </div>
        <span class="delete-btn">+<br/>删<br/>除</span>
      </li>
    </ul>
    <ul class="booking-barge">
      <li><label>截关日期</label><span>2015-5-11</span><a href="javascript:;"></a></li>
      <li><label>开船日期</label><span>2015-5-11</span><a href="javascript:;"></a></li>
      <li>需要驳船<strong class="h_btn active"><em></em></strong></li>
      <li><label>驳船起运港</label><span>请选择驳船起运港</span><a href="javascript:;"></a></li>
      <li><label>驳船截关日期</label><span>2015-5-11</span><a href="javascript:;"></a></li>
      <li><label>中转方式</label><span>请选择中转方式</span><a href="javascript:;"></a></li>
    </ul>
    <ul class="booking-info">
      <li><label>发货人信息</label><p>请添加发货人信息</p><a href="javascript:;"></a></li>
      <li><label>收货人信息</label><p>请添加收货人信息</p><a href="javascript:;"></a></li>
      <li><label>通知人信息</label><p>请添加通知人信息</p><a href="javascript:;"></a></li>
    </ul>
    <ul class="booking-linkman">
      <li class="booking-linkman-li"><label>订舱联系人</label><p>请添加发货人信息</p><a href="javascript:;"></a></li>
      <li class="booking-linkman-detail">
        <em></em>
        <p>
          <strong>张三<label>123456@163.com</label></strong>
          <span>深圳市华运国际物流有限公司</span>
          <cite>0755-6354123 </cite>
        </p>
        <a href="javascript:;"></a>
      </li>
      <li class="booking-linkman-li"><label>补料联系人</label><p>请添加发货人信息</p><a href="javascript:;"></a></li>
      <li class="booking-linkman-li"><label>放舱联系人</label><p>请添加发货人信息</p><a href="javascript:;"></a></li>
    </ul>
    <ul class="booking-pname">
      <li class="booking-pname-li"><label>品名</label><p>请添加品名信息</p><a href="javascript:;" class="edit"></a></li>
      <li class="booking-pname-detail">
        <em></em>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
      </li>
      <li class="booking-pname-li"><label>大品名</label><p>请选择大品名</p><a href="javascript:;"></a></li>
    </ul>
    <ul class="booking-otherproduct">
      <li><label>其它商品信息</label><p>请添加其它商品信息</p><a href="javascript:;"></a></li>
    </ul>
    <ul class="booking-otherservice">
      <li><label>其它商品信息</label><p>请添加其它商品信息</p><a href="javascript:;"></a></li>
    </ul>
    <ul class="booking-order">
      <li><label>提单方式</label><span>MB/L<strong class="h_btn active"><em></em></strong></span><span>HB/L<strong class="h_btn"><em></em></strong></span></li>
      <li><label>放货方式</label><p>请选择放货方式</p><a href="javascript:;"></a></li>
    </ul>
    <ul class="booking-pay">
      <li><label>付款方式</label><span>预付<strong class="h_btn active"><em></em></strong></span><span>到付<strong class="h_btn"><em></em></strong></span></li>
      <li><label>运输条款</label><p>请选择运输条款</p><a href="javascript:;"></a></li>
    </ul>
    <ul class="booking-remarks">
      <li><label>备注</label><p>请编辑你的备注</p><a href="javascript:;"></a></li>
    </ul>
    <ul class="booking-mxi">
      <li><label>费用明细</label><p>查看费用明细</p><a href="javascript:;"></a></li>
    </ul>
    <ul class="booking-total">
      <li>
        <h4>合计：<strong>CNY-1295   USD:280</strong></h4>
        <p>可获得搜航网积分<em>10</em>分</p>
      </li>
      <li>
        <label>使用搜航网积分</label>
        <p><strong><input type="text" placeholder="请输入兑换积分"></strong><em>（可用积分350）</em></p>
        <span>-￥3.5</span>
      </li>
    </ul>
    <ul class="booking-submit">
      <li>合计：CNY-1295<br/>  
          USD:280</li>
      <li>提交订单</li>
    </ul>
  </div>
</div>
<!--footer-->
<div id="footer" class="footer">
  <ul>
      <li><a href="#index_in" ><em></em><span>查询</span></a></li>
      <li><a href="javascript:;" class="active" ><em></em><span>特卖</span></a></li>
      <li><a href="#my_in"><em></em><span>我的</span></a></li>
  </ul>
</div>

<!--page booking end-->
