<!--page index-->

<div class="header index-header" id="header">搜航网</div>
<div class="index-content content" id="index-content">
  <div class="index-scroll scroll" id="index-scroll">
    <!--banner-->
    <div class="index-banner" id="index-banner">
      <ul class="index-banner-img">
        <li><a href="#"><img src="../app/res/images/banner01.png"></a></li>
        <li><a href="#"><img src="../app/res/images/banner01.png"></a></li>
        <li><a href="#"><img src="../app/res/images/banner01.png"></a></li>
      </ul>
      <ul class="index-banner-btn">
        <li class="active"></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <!--tab-->
    <a href="#start_in"><span id="start_p">SHENZHEN</span></a>
    <div class="index-box" id="index-box">
      <ul class="index-box-tab">
        <li class="active">运价查询</li>
        <li>船期查询</li>
      </ul>
      <!-- <div class="index-box-tab-line"></div> -->
      <div class="index-box-content">
        <div class="prive-polling addr-polling" id="addr-polling">
          <ul class="prive-polling-list ">
            <li><label>起运港</label><a href="#/startport"><span id="start_p">SHENZHEN</span></a></li>
            <li><label>目的港</label><a href="#/endport"><span id="end_p">WAIGAOQIAO,SHAN</span></a></li>
            <li><label>船公司</label><a href="#/ship"><span id="boat_p">MSK</span></a><em></em></li>
          </ul>
          <p><span>查询</span></p>
          <div class="history prive-polling-history">
            <h4><span>近期历史</span><em></em></h4>
            <ul>
              <li>SHENZHEN - WAIGAOQIAO,SHANGHAI</li>
              <li>HUANGPU - Khorramshahr</li>
              <li>WAIGAOQIAO,SHANGHAI - DURBAN</li>
            </ul>
          </div>
        </div>
        <div class="prive-polling boat-polling" id="boat-polling" style="display:none;">
          <ul class="prive-polling-list">
            <li><label>起运港</label><a href="#/startport"><span id="start_p2">SHENZHEN</span></a></li>
            <li><label>目的港</label><a href="#/endport"><span id="end_p2">WAIGAOQIAO,SHAN</span></a></li>
            <li class="time-li"><label>离港日</label><cite id="time" ></cite><em></em></li>
            <li><label>船公司</label><a href="#/ship"><span id="boat_p2">MSK</span></a><em></em></li>
          </ul>
          <p><span>查询</span></p>
          <div class="history boat-polling-history">
            <h4><span>近期历史</span><em></em></h4>
            <ul>
              <li>SHENZHEN - WAIGAOQIAO,SHANGHAI</li>
              <li>HUANGPU - Khorramshahr</li>
              <li>WAIGAOQIAO,SHANGHAI - DURBAN</li>
            </ul>
          </div>
        </div>   
      </div>
    </div>
  </div>
  
</div>
<!--footer-->
<div id="footer" class="footer">
  <ul>
      <li><a href="javascript:;" class="active"><em></em><span>查询</span></a></li>
      <li><a href="#booking_in"  ><em></em><span>特卖</span></a></li>
      <li><a href="#my_in"><em></em><span>我的</span></a></li>
  </ul>
</div>

<!--page index end-->