<!--page login-->
<div class="page login current" id="login">
  <div class="header login-header"><a href="#login_out" class="back"></a>会员登陆 <a href="registe.html" class="login-header-register">注册</a></div>
  <div class="login-content content" id="login-content">
    <div class="loin-scroll scroll" id="login-scroll">
      <ul class="login-form">
        <li class="login-form-user">
          <label></label>
          <input type="text" placeholder="请输入用户名">
        </li>
        <li class="login-form-pas">
          <label></label>
          <input type="password" placeholder="请输入用户名" >
        </li>
        <li class="login-form-ver">
          <input type="password" placeholder="请输入验证码" >
          <em>1224</em>
        </li>
      </ul>
      <div class="login-btn" id="login-btn"><button>登陆</button></div>
      <a href="#/res_pasin" class="login-forget-pas">忘记密码？</a>
    </div>
  </div>
</div>
<!--page login end-->