<div class="my-content content" id="my-content">
    <div  class="my-scroll scroll" id="my-scroll">
      <!--
        my-logged：登陆状态
        my-nologged：未登陆状态
      -->
      <div class="my-head my-nologged">
        <p>
          <a href="#/my/ddin"><img src="../app/res/images/my-head.png"></a>
          <em></em>
        </p>
        <h4><a href="#/my/ddin">xym_123139</a></h4>
        <a href="javascript:;" class="my-head-own"></a>
        <span href="javascript:;" class="my-login-btn">
          <a href="login.html">登录</a>/
          <a href="registe.html">注册</a>
        </span>
      </div>
      <ul class="my-info">
        <li><a href="#/my/info/integralin"><strong></strong><p><em>6238</em><span>可用积分</span></p></a></li>
        <li><a href="#/my/info/invitein"><strong></strong><p><em>55</em><span>邀请人数</span></p></a></li>
      </ul>
      <ul class="my-center">
        <li class="my-center-order"><a href="#/my/orderin"><cite></cite><span>我的订单</span><em></em></a></li>
        <li class="my-center-business"><a href="#/my/salesmanin"><cite></cite><span>我的业务专员</span><em></em></a></li>
        <li class="my-center-logistics"><a href="#/my/newsin"><cite></cite><span>物流资讯</span><em></em></a></li>
        <li class="my-center-about"><a href="#/my/aboutin"><cite></cite><span>关于搜航网</span><em></em></a></li>
      </ul>
    </div>
</div>

<!--footer-->
<div id="footer" class="footer">
  <ul>
      <li><a href="#index_in" ><em></em><span>查询</span></a></li>
      <li><a href="#booking_in"  ><em></em><span>特卖</span></a></li>
      <li><a href="javascript:;" class="active"><em></em><span>我的</span></a></li>
  </ul>
</div>
